<section class="repo-items-section">
  <div class="repo-items-container">
    <div class="topo">
      <h1 class="title">Repositórios</h1>
      <h2 class="title" style="color: #666;">Vesguerber</h2>
    </div>
    <div class="repo-items">
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
        <app-repo-card></app-repo-card>
    </div>
  </div>
</section>
