<div class="card">
  <header class="card-header">
    <a class="card-header-title" (click)="onCardClick()" >
      <span class="icon is-medium" style="margin: 0 5px;">
        <span class="fa-stack fa-sm">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
      </span>
      {{ item.name }}
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      {{ item.description }}
    </div>
  </div>
  <footer class="card-footer">
    <p href="#" class="card-footer-item">{{ item.language }}</p>
  </footer>
</div>
