<div class="card">
  <header class="card-header">
    <a class="card-header-title">
      <span class="icon is-medium" style="margin: 0 5px;">
        <span class="fa-stack fa-sm">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-book fa-stack-1x fa-inverse"></i>
        </span>
      </span>
      Game-Jam-Dino
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec
      id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
      consectetur purus sit amet fermentum.
    </div>
  </div>
  <footer class="card-footer">
    <p href="#" class="card-footer-item">JavaScript</p>
    <p href="#" class="card-footer-item">PHP</p>
    <p href="#" class="card-footer-item">CSS</p>
  </footer>
</div>
