@import "../../main-styles.scss";

h1 {
    a {
        display: flex;
        justify-content: center;
    }

  i {
    
    &.fa-book {
      color: $primary;
    }

    &.fa-star {
        font-size: 16px;
        color: black;

        &.fas {
          color: $green;
        }

        &:hover {
            color: $green;
        }
    }
  }

}

h3 {
    margin: 10px 0;
}
