<div class="navbar-total">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href> GitHub Favorites </a>
    </div>
    <div class="navbar-start">
      <a href="" class="navbar-item">Home</a>
      <a href="favorites" class="navbar-item">Favoritos</a>
    </div>
    <div class="navbar-end">
      <a href="https://github.com/Vesguerber" target="_blank" class="navbar-item" style="color:blueviolet;"><i class="fab fa-github" style="font-size: 20px; margin-right: 10px;"></i> Anderson Vesguerber</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
