@import "../main-styles.scss";

.navbar-total {
  background: #eee;
  width: 100%;
  margin-bottom: 30px;

  .navbar {
    width: 1200px;
    margin: 0 auto;
    background: transparent;

    .navbar-brand {
      a {
        font-size: 26px;
        color: $orange;
      }
    }
  }
}
hr {
  border: none;
  height: 2px;
  color: #999;
  background-color: #999;
  margin: 0;
}
