@import '../../main-styles.scss';

h1 {
    text-align: center;
    font-size: 70px;
    color: #444;
}

p {
    text-align: center;
    font-size: 20px;
    color: #444;
}

section.search {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 710px;
    align-items: center;
}


section.search input[type="text"] {
    width: 600px;
    padding: 0 5px;
}