@import "../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Nunito";
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
